body{
    background-color: hsl(216, 12%, 8%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container1{
    text-align: center;
    width: 320px;
    margin-top: 200px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 10px;
    padding: 20px 10px 20px 20px;

}
h2{
    color: white;
}
.app{
    color: hsl(216, 12%, 54%);
}
.select{
    color:hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 21%);
    width: 170px;
    height: 25px;
    border-radius: 20px;


}
.p{
    position: relative;
    left: 73px;
}